<!--My Account Area Start-->
  <section class="my-account-area adminMain" >
   <div class="container-fluid">
    <div class="row text-center mt-50">
      <div class=" col-md-2 col-lg-3"></div>
     <!--Login Form Start-->
     <div class=" col-sm-12 col-md-8 col-lg-6">
      <div class="customer-login-register">
       <div class="form-login-title">
        <h2>Admin Login</h2>
       </div>
       <div class="login-form">
        <form id="loginFormAdmin" action="#" method="POST">
         <div class="form-fild">
          <p><label>Email address <span class="required">*</span></label></p>
          <input id="loginEmailAdmin" type="email" name="loginEmailAdmin" value="" onfocusout="return loginEmailFieldReset()">
          <label id="loginEmailErrorAdmin" class=" small displayNoneRequired">Required filed</label>
          <label id="loginEmailFormatErrorAdmin" class=" small displayNoneRequired">Something wrong with email.</label>
         </div>
         <div class="form-fild">
          <p><label>Password <span class="required">*</span></label></p>
          <input id="loginPasswordAdmin" type="password" name="loginPasswordAdmin" value="" onfocusout="return loginPasswordFieldReset()">
          <label id="loginPasswordErrorAdmin" class=" small displayNoneRequired">Required filed</label>
         </div>
         <div class="login-submit text-center mt-20">
          <button type="submit" class="loginCustomBtn" style="width:40%">Login</button>
         </div>
        </form>
         
       </div>
      </div>
     </div>
     <!--Login Form End-->
     <div class=" col-md-2 col-lg-3"></div>
    </div>
   </div>
  </section>
  <!--My Account Area End-->