<div>
<div class="list-group">
  <a href="#" class="list-group-item">My account</a>
  <a href="/my-account/measurements" class="list-group-item">Measurements</a>
  <a href="/my-account/order-history" class="list-group-item">Order History</a>
  <a href="/my-account/change-password" class="list-group-item">Change Password</a>
</div>
</div>