<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{titlePage}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>


  <link href="https://unpkg.com/ionicons@4.5.1/dist/css/ionicons.min.css" rel="stylesheet">
  <!-- font awesome CSS-->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!-- Animate CSS-->
  <link rel="stylesheet" href="/css/animate.css">
  <!-- UI CSS-->
  <link rel="stylesheet" href="/css/jquery-ui.min.css">
  <!-- Chosen CSS-->
  <link rel="stylesheet" href="/css/chosen.css">
  <!-- Meanmenu CSS-->
  <link rel="stylesheet" href="/css/meanmenu.min.css">
  <!-- Fancybox CSS-->
  <link rel="stylesheet" href="/css/jquery.fancybox.css">
  <!-- Normalize CSS-->
  <link rel="stylesheet" href="/css/normalize.css">
  <!-- Nivo Slider CSS-->
  <link rel="stylesheet" href="/css/nivo-slider.css">
  <!-- Owl Carousel CSS-->
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <!-- EasyZoom CSS-->
  <link rel="stylesheet" href="/css/easyzoom.css">
  <!-- Slick CSS-->
  <link rel="stylesheet" href="/css/slick.css">
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  {{!-- Toastr CSS --}}
  <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
  <!-- Default CSS -->
  <link rel="stylesheet" href="/css/default.css">
  <!-- Style CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- {{!-- Layout css Link --}} -->
  <link rel="stylesheet" href="/css/layout.css">
  <!-- Responsive CSS -->
  <link rel="stylesheet" href="/css/responsive.css">
  <!-- Modernizr Js -->
  <script src="/js/vendor/modernizr-2.8.3.min.js"></script>

</head>

<body>
  {{> admin_header }}
  {{{body}}}




  <!--Jquery 1.12.4-->
  <script src="/js/vendor/jquery-1.12.4.min.js"></script>
  <!--Imagesloaded-->
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <!--Isotope-->
  <script src="/js/isotope.pkgd.min.js"></script>
  <!--Ui js-->
  <script src="/js/jquery-ui.min.js"></script>
  <!--Countdown-->
  <script src="/js/jquery.countdown.min.js"></script>
  <!--Counterup-->
  <script src="/js/jquery.counterup.min.js"></script>
  <!--ScrollUp-->
  <script src="/js/jquery.scrollUp.min.js"></script>
  <!--Chosen js-->
  <script src="/js/chosen.jquery.js"></script>
  <!--Meanmenu js-->
  <script src="/js/jquery.meanmenu.min.js"></script>
  <!--Instafeed-->
  <script src="/js/instafeed.min.js"></script>
  <!--EasyZoom-->
  <script src="/js/easyzoom.min.js"></script>
  <!--Fancybox-->
  <script src="/js/jquery.fancybox.pack.js"></script>
  <!--Nivo Slider-->
  <script src="/js/jquery.nivo.slider.js"></script>
  <!--Waypoints-->
  <script src="/js/waypoints.min.js"></script>
  <!--Carousel-->
  <script src="/js/owl.carousel.min.js"></script>
  <!--Slick-->
  <script src="/js/slick.min.js"></script>
  <!--Wow-->
  <script src="/js/wow.min.js"></script>
  <!--Bootstrap-->
  <script src="/js/bootstrap.min.js"></script>
  <!--Plugins-->
  <script src="/js/plugins.js"></script>
  <!--Main Js-->
  <script src="/js/main.js"></script>
  <!--Admin JS-->
  <script src="/js/custom/admin_header.js"></script>

  {{!-- handlebars js --}}
  <script src="/js/handlebars-v4.0.12.js"></script>
  {{!-- custom js --}}
  <script src="/js/custom.js"></script>
  {{!-- toastr js --}}
  <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="/js/custom/admin_callToastr.js"></script>

</body>

</html>