<div class=" container mt-50 mb-50">
  <div class="row">
    <div class=" col-sm-12 col-md-12">

      <div class="testVideo" style="padding-bottom: 56.25%;">
        <iframe src="https://player.vimeo.com/video/312886150?title=0&byline=0&portrait=0&sidedock=0&transparent=0&loop=1"
          frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        {{!-- <video src="/video/1206071307.mp4" poster="/images/thumbnail-trailer.jpg" muted="muted">
          Your browser does not support the video tag.
        </video> --}}
      </div>
      {{!-- <h2 class=" text-center"><b>Ambassador The Custom Shop</b></h2> --}}
      <p class=" text-center abouyUsContent">
        <em> Ambassador The Custom Shop brings 47 years of excellence to our clients through top quality, perfectly
          crafted custom made menswear. We give men the style, elegant and trendy looks they deserve. <br /></em>
        The craft of tailoring takes a material and enriches it, adding personality and spirit to enhance your
        charisma. The Ambassador Custom Shop was established in 1971 and has been in operation as Karachi's finest
        gents tailoring boutique. <br />
        We offer wardrobe planning services. Many people like the idea of having a piece of clothing made specifically
        for them making them stand out in any crowd. Also, getting a custom suit allows you to use your imagination.<br />
        Our master tailors believe in crafting the perfect suit for you. From fabric selection, to suiting and shirting
        styling advice is given based on your personality, preferences as well as business and social needs. You can
        choose from our wide range of luxurious fabrics in different colors and patterns that suits your taste.

      </p>
    </div>
  </div>
</div>