<div class=" container mt-50 mb-50">
  <h2><b>Contact Us</b></h2>
  <div class="row">
    <div class="col-sm-8 col-md-8">
      <a href="https://goo.gl/maps/cqnxJJxgtUS2" target="_blank"><img src="/images/ambMap.png" alt="" class=" pr-20 img-responsive img-full"></a>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="contact">
        <h3 class=" mb-10"><b>Contact Info:</b></h3>
        <p><label><b>Address:</b></label>Shop # 01, Plot 7/E, 7th Commercial Lane. Near Faysal Bank Ltd. Phase V, DHA, Zamzama Karachi, Pakistan</p>
        <p><label><b>Phone:</b></label>+92 21 35302013</p>
        <p><label><b>Email:</b></label>ambassadorthecustom@gmail.com</p>
      </div>
    </div>
  </div>
</div>