<!--My Account Area Start-->
<div class=" mt-20 mb-20">
  <div class="container">
    <div class="heading-banner-title">
      <h3><b>YOUR MEASUREMENTS</b></h3>
    </div>
    <br />
    <h2><b>Jacket Measurements</b></h2>

    <!--Measurement View Start-->
    <div class="row">
      <div class="col-md-12">
        <div class="single-item">
          <h4 class="pl-15 pb-10 pt-20"><b>Neck Circumference</b></h4>
          <div class="col-md-4 col-sm-4">
            <img class="first-img" src="/images/jacket/neck.jpg" alt="">
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="product-content-2 pt-10">
              <h2>Measure around the lower part of the neck. Put one finger between the measuring tape and the neck.</h2>
              <input type="text" class="input-copun" style="padding: 0px 15px 0px;" placeholder="Value">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="single-item">
          <h4 class="pl-15 pb-10 pt-20"><b>Shoulder width</b></h4>
          <div class="col-md-4 col-sm-4">
            <img class="first-img" src="/images/jacket/shoulder.jpg" alt="">
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="product-content-2 pt-10">
              <h2>Measure between the outermost edges of the shoulders. Good
                reference points for the start and end are the seams on the edge of
                the shoulders. Measure across, close to the lowest part of the shirt
                collar.</h2>
              <input type="text" class="input-copun" style="padding: 0px 15px 0px;" placeholder="Value">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="single-item">
          <h4 class="pl-15 pb-10 pt-20"><b>Chest circumference</b></h4>
          <div class="col-md-4 col-sm-4">
            <img class="first-img" src="/images/jacket/chest.jpg" alt="">
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="product-content-2 pt-10">
              <h2>Measure around the chest where it is largest, right across the
                nipples. Breathe normally. Note that this measurement should be
                taken with a finger inside the measuring tape.
              </h2>
              <input type="text" class="input-copun" style="padding: 0px 15px 0px;" placeholder="Value">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="single-item">
          <h4 class="pl-15 pb-10 pt-20"><b>Stomach circumference</b></h4>
          <div class="col-md-4 col-sm-4">
            <img class="first-img" src="/images/jacket/stomach.jpg" alt="">
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="product-content-2 pt-10">
              <h2>Measure around the stomach, in line with the navel. Breathe
                normally. Note that this measurement should be taken with a finger
                inside the measuring tape.
              </h2>
              <input type="text" class="input-copun" style="padding: 0px 15px 0px;" placeholder="Value">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="single-item">
          <h4 class="pl-15 pb-10 pt-20"><b>Buttocks</b></h4>
          <div class="col-md-4 col-sm-4">
            <img class="first-img" src="/images/jacket/buttocks.jpg" alt="">
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="product-content-2 pt-10">
              <h2>Measure around the largest point of the buttocks. Note that this
                measurement should be taken with a finger inside the measuring
                tape.</h2>
              <input type="text" class="input-copun" style="padding: 0px 15px 0px;" placeholder="Value">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="single-item">
          <h4 class="pl-15 pb-10 pt-20"><b>Jacket length</b></h4>
          <div class="col-md-4 col-sm-4">
            <img class="first-img" src="/images/jacket/jacket.jpg" alt="">
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="product-content-2 pt-10">
              <h2>Start at the middle of the shoulder. A good reference for the starting
                point is the shoulder seam of your shirt. Measure straight down to
                the middle of the thumb, or where you want the jacket to end.
                Breathe normally.
              </h2>
              <input type="text" class="input-copun" style="padding: 0px 15px 0px;" placeholder="Value">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="single-item">
          <h4 class="pl-15 pb-10 pt-20"><b>Shirt length</b></h4>
          <div class="col-md-4 col-sm-4">
            <img class="first-img" src="/images/jacket/shirt.jpg" alt="">
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="product-content-2 pt-10">
              <h2>Start at the middle of the shoulder. A good reference for the starting
                point is the shoulder seam of your shirt. Measure straight down to
                the middle of the thumb, or where you want the shirt to end.
                Breathe normally.</h2>
              <input type="text" class="input-copun" style="padding: 0px 15px 0px;" placeholder="Value">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="single-item">
          <h4 class="pl-15 pb-10 pt-20"><b>Bicep</b></h4>
          <div class="col-md-4 col-sm-4">
            <img class="first-img" src="/images/jacket/bicep.jpg" alt="">
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="product-content-2 pt-10">
              <h2>Measure around the widest part of the bicep. Let your arm hang
                relaxed down by your side. Note that this measurement should be
                taken with a finger inside the measuring tape.
              </h2>
              <input type="text" class="input-copun" style="padding: 0px 15px 0px;" placeholder="Value">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="single-item">
          <h4 class="pl-15 pb-10 pt-20"><b>Jacket sleeve length</b></h4>
          <div class="col-md-4 col-sm-4">
            <img class="first-img" src="/images/jacket/jacketSleeve.jpg" alt="">
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="product-content-2 pt-10">
              <h2>From the outermost edge of the shoulder, same point as the
                shoulder measurement, measure down to the start of the thumb.
                The arm should hang straight down.</h2>
              <input type="text" class="input-copun" style="padding: 0px 15px 0px;" placeholder="Value">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="single-item">
          <h4 class="pl-15 pb-10 pt-20"><b>Shirt sleeve length</b></h4>
          <div class="col-md-4 col-sm-4">
            <img class="first-img" src="/images/jacket/shirtSleeve.jpg" alt="">
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="product-content-2 pt-10">
              <h2>From the outermost edge of the shoulder, same point as the
                shoulder measurement, measure down to the start of the thumb.
                The arm should hang straight down. For best style, ensure your
                shirt sleeve length is about an inch or 2 cm longer than your jacket
                sleeve length.</h2>
              <input type="text" class="input-copun" style="padding: 0px 15px 0px;" placeholder="Value">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="single-item">
          <h4 class="pl-15 pb-10 pt-20"><b>Wrist</b></h4>
          <div class="col-md-4 col-sm-4">
            <img class="first-img" src="/images/jacket/wrist.jpg" alt="">
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="product-content-2 pt-10">
              <h2>Measure around the wrist directly below the wrist joint. Note that
                this measurement should be taken with a finger inside the
                measuring tape.</h2>
              <input type="text" class="input-copun" style="padding: 0px 15px 0px;" placeholder="Value">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="single-item">
          <h4 class="pl-15 pb-10 pt-20"><b>Waistcoat length</b></h4>
          <div class="col-md-4 col-sm-4">
            <img class="first-img" src="/images/jacket/waistcoat.jpg" alt="">
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="product-content-2 pt-10">
              <h2>Start at the middle of the shoulder. A good reference for the starting
                point is the shoulder seam of your shirt. Measure straight down to
                the waistline of your trousers. Measured this way the waistline of
                the trousers will be right below the lowest button on the waistcoat.</h2>
              <input type="text" class="input-copun" style="padding: 0px 15px 0px;" placeholder="Value">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="single-item">
          <h4 class="pl-15 pb-10 pt-20"><b>Dress coat front length</b></h4>
          <div class="col-md-4 col-sm-4">
            <img class="first-img" src="/images/jacket/dresscoatfront.jpg" alt="">
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="product-content-2 pt-10">
              <h2>Start at the middle of the shoulder. A good reference for the starting
                point is the shoulder seam of your shirt. Measure straight down to
                the waistline of your trousers.
              </h2>
              <input type="text" class="input-copun" style="padding: 0px 15px 0px;" placeholder="Value">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="single-item">
          <h4 class="pl-15 pb-10 pt-20"><b>Morning coat front</b></h4>
          <div class="col-md-4 col-sm-4">
            <img class="first-img" src="/images/jacket/morningcoatfront.jpg" alt="">
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="product-content-2 pt-10">
              <h2>Start at the middle of the shoulder. A good reference for the starting
                point is the shoulder seam of your shirt. Measure straight down to
                the middle of the thumb.</h2>
              <input type="text" class="input-copun" style="padding: 0px 15px 0px;" placeholder="Value">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="single-item">
          <h4 class="pl-15 pb-10 pt-20"><b>Coat tail length</b></h4>
          <div class="col-md-4 col-sm-4">
            <img class="first-img" src="/images/jacket/coattail.jpg" alt="">
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="product-content-2 pt-10">
              <h2>Start at the middle of the shoulder. A good reference for the starting
                point is the shoulder seam of your shirt. Measure down to the back
                of your knee, or where you want the tail to end.</h2>
              <input type="text" class="input-copun" style="padding: 0px 15px 0px;" placeholder="Value">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="single-item">
          <h4 class="pl-15 pb-10 pt-20"><b>Frock coat waistline</b></h4>
          <div class="col-md-4 col-sm-4">
            <img class="first-img" src="/images/jacket/frockcoatwaistline.jpg" alt="">
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="product-content-2 pt-10">
              <h2>Start at the middle of the shoulder. A good reference for the starting
                point is the shoulder seam of your shirt. Measure down to the
                navel, or where you want the frock coat waistline to be.
              </h2>
              <input type="text" class="input-copun" style="padding: 0px 15px 0px;" placeholder="Value">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="single-item">
          <h4 class="pl-15 pb-10 pt-20"><b>Frock coat length</b></h4>
          <div class="col-md-4 col-sm-4">
            <img class="first-img" src="/images/jacket/frockcoatlength.jpg" alt="">
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="product-content-2 pt-10">
              <h2>Start at the middle of the shoulder. A good reference for the starting
                point is the shoulder seam of your shirt. Measure down to the top of
                your knee cap, or where you want the frock coat to end.</h2>
              <input type="text" class="input-copun" style="padding: 0px 15px 0px;" placeholder="Value">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Measurement View End-->

  </div>
</div>
<!--My Account Area End-->