<!-- Wishlist Table Area Start-->
  <div class="wishlist-table-area mt-30 mb-50">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <div class="wishlist-table table-responsive">
       <table>
        <thead>
         <tr>
          <th class="product-remove"></th>
          <th class="product-cart-img">
           <span class="nobr">Product Image</span>
          </th>
          <th class="product-name">
           <span class="nobr">Product Name</span>
          </th>
          <th class="product-price">
           <span class="nobr"> Unit Price </span>
          </th>
          <th class="product-stock-stauts">
           <span class="nobr"> Stock Status </span>
          </th>
          <th class="product-add-to-cart">Add To Cart</th>
         </tr>
        </thead>
        <tbody>
         <tr>
          <td class="product-remove">
           <a href="#">×</a>
          </td>
          <td class="product-cart-img">
           <a href="#"><img src="/images/img/cart/1.jpg" alt=""></a>
          </td>
          <td class="product-name">
           <a href="#">natural typesetting</a>
          </td>
          <td class="product-price">
           <span><del>$74.00</del> <ins>$69.00</ins></span>
          </td>
          <td class="product-stock-status">
           <span class="wishlist-in-stock">In Stock</span>
          </td>
          <td class="product-add-to-cart">
           <a class="wishlist-btn" href="#"> Add to Cart</a>
          </td>
         </tr>
         <tr>
          <td class="product-remove">
           <a href="#">×</a>
          </td>
          <td class="product-cart-img">
           <a href="#"><img src="/images/img/cart/2.jpg" alt=""></a>
          </td>
          <td class="product-name">
           <a href="#">Natural simply random</a>
          </td>
          <td class="product-price">
           <span><del>$74.00</del> <ins>$69.00</ins></span>
          </td>
          <td class="product-stock-status">
           <span class="wishlist-in-stock">In Stock</span>
          </td>
          <td class="product-add-to-cart">
           <a class="wishlist-btn" href="#"> Add to Cart</a>
          </td>
         </tr>
         <tr>
          <td class="product-remove">
           <a href="#">×</a>
          </td>
          <td class="product-cart-img">
           <a href="#"><img src="/images/img/cart/2.jpg" alt=""></a>
          </td>
          <td class="product-name">
           <a href="#">Natural simply random</a>
          </td>
          <td class="product-price">
           <span><del>$74.00</del> <ins>$69.00</ins></span>
          </td>
          <td class="product-stock-status">
           <span class="wishlist-out-stock">Out Stock</span>
          </td>
          <td class="product-add-to-cart">
           <a class="wishlist-btn" href="#"> Add to Cart</a>
          </td>
         </tr>
        </tbody>
       </table>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- Wishlist Table Area End-->